<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Movies_kitarp</title>
    <link rel = "icon" href =
"https://w7.pngwing.com/pngs/257/192/png-transparent-popcorn-popcorn-food-smiley-cartoon.png"
      type = "image/x-icon">
      <link rel="stylesheet" href="/views/failstyle.css">
  </head>
  <body>
    FAILED TO FETCH YOUR MOVIE!
<script type="/views/failfile.js"></script>
  </body>
</html>
