<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Movies_kitarp</title>
    <link rel = "icon" href =
"https://w7.pngwing.com/pngs/257/192/png-transparent-popcorn-popcorn-food-smiley-cartoon.png"
      type = "image/x-icon">
      <link rel="stylesheet" href="css/failstyle.css">
  </head>
  <body>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <div id='title'>
      <span>
        Sorry no movie found!
      </span>
      <br>
      <span>
        <a href="/"><span>Search again</span></a>
      </span>
    </div>
  </body>
</html>
